Repository Nervios-de-Acero/Avocado-Android, pull requests merged in 2024-06, with the labels that each got.

#36 Perfil activity
  .idea/deploymentTargetSelector.xml
  Backend/routes/receta.js
  app/src/main/java/com/example/proyectoavocado/PerfilActivity.java
  app/src/main/res/layout/activity_perfil.xml
Labels: backend-Android, activityMaquetacion, activityLógica

#37 merge adaptacion endpoint eliminarReceta
  Backend/routes/receta.js
Labels: backend-Android

#40 Image loading
  app/build.gradle
  app/src/main/java/com/example/proyectoavocado/FeedActivity.java
  app/src/main/java/com/example/proyectoavocado/ModificarPerfilActivity.java
  app/src/main/java/com/example/proyectoavocado/PerfilActivity.java
  app/src/main/java/com/example/proyectoavocado/VistaDetalladaActivity.java
  app/src/main/java/com/example/proyectoavocado/controllers/Receta.java
  app/src/main/java/com/example/proyectoavocado/reciclesAdaptadores/PerfilRecipeCardAdapter.java
  app/src/main/java/com/example/proyectoavocado/reciclesAdaptadores/RecipeCardAdapter.java
  app/src/main/res/layout/activity_vista_detallada.xml
Labels: activityLógica

#39 merge adaptacion endpoint getRecetasFeed
  Backend/routes/receta.js
  Backend/routes/usuario.js
Labels: backend-Android

#41 merge adaptacion endpoints para modificar recetas
  Backend/routes/receta.js
Labels: backend-Android

#42 merge actualizacion de validaciones para endpoints
  Backend/routes/login.js
  Backend/routes/receta.js
  Backend/routes/registro.js
  Backend/routes/usuario.js
  Backend/utils/funcionesComunes.js
  Backend/utils/validacionesLogin.js
  Backend/utils/validacionesPassword.js
  Backend/utils/validacionesPerfil.js
  Backend/utils/validacionesRecetas.js
  Backend/utils/validacionesRegistro.js
Labels: backend-Android

#44 Integracion de Cloudinary.
  Backend/app.js
  Backend/assets/test.jpg
  Backend/package-lock.json
  Backend/package.json
  Backend/routes/usuario.js
  Backend/utils/cloudinaryFunctions.js
Labels: backend-Android

#45 Se modifico la visualizacion de pasos de las recetas en vista detallada, modificar receta y crear receta, se realizaron mejoras en maquetacion varias
  app/src/main/java/com/example/proyectoavocado/AgregaRecetaActivity.java
  app/src/main/java/com/example/proyectoavocado/FeedActivity.java
  app/src/main/java/com/example/proyectoavocado/ModificarRecetaActivity.java
  app/src/main/java/com/example/proyectoavocado/VistaDetalladaActivity.java
  app/src/main/java/com/example/proyectoavocado/controllers/Paso.java
  app/src/main/java/com/example/proyectoavocado/reciclesAdaptadores/CategoriaItemAdapter.java
  app/src/main/java/com/example/proyectoavocado/reciclesAdaptadores/PasoViewAdapter.java
  app/src/main/java/com/example/proyectoavocado/reciclesAdaptadores/PasosRecetaRecipeAdapter.java
  app/src/main/res/layout/activity_agrega_receta.xml
  app/src/main/res/layout/activity_iniciar_sesion.xml
  app/src/main/res/layout/activity_modificar_receta.xml
  app/src/main/res/layout/activity_vista_detallada.xml
  app/src/main/res/layout/categoria_layout.xml
  app/src/main/res/layout/dialog_agregar_paso.xml
  app/src/main/res/layout/dialog_categoria.xml
  app/src/main/res/layout/pasos_receta.xml
  app/src/main/res/layout/radio_btn_categoria.xml
  app/src/main/res/layout/receta_feed_card.xml
Labels: enhancement, task, activityMaquetacion, activityLógica

#53 Fix modificar perfil
  Backend/routes/usuario.js
  Backend/utils/funcionesComunes.js
  app/src/main/java/com/example/proyectoavocado/AgregaRecetaActivity.java
  app/src/main/java/com/example/proyectoavocado/FeedActivity.java
  app/src/main/java/com/example/proyectoavocado/ModificarRecetaActivity.java
  app/src/main/res/layout/activity_agrega_receta.xml
  app/src/main/res/layout/activity_iniciar_sesion.xml
  app/src/main/res/layout/activity_modificar_receta.xml
  app/src/main/res/layout/activity_vista_detallada.xml
  app/src/main/res/layout/dialog_agregar_paso.xml
Labels: backend-Android

#56 Correcciones en endpoint agregarReceta
  Backend/routes/receta.js
  Backend/utils/cloudinaryFunctions.js
Labels: backend-Android
