Repository Nervios-de-Acero/Avocado-Android, pull requests merged in 2024-05, with the labels that each got.

#24 Nuevos íconos en el menú
  .idea/deploymentTargetSelector.xml
  .idea/gradle.xml
  .idea/migrations.xml
  app/src/main/java/com/example/proyectoavocado/ContactoActivity.java
  app/src/main/java/com/example/proyectoavocado/FeedActivity.java
  app/src/main/java/com/example/proyectoavocado/ModificarPerfilActivity.java
  app/src/main/java/com/example/proyectoavocado/PerfilActivity.java
  app/src/main/java/com/example/proyectoavocado/VistaDetalladaActivity.java
  app/src/main/java/com/example/proyectoavocado/favoritesActivity.java
  app/src/main/res/drawable/estrella_icono.png
  app/src/main/res/drawable/home_icono.png
  app/src/main/res/drawable/icon_a_adir.png
  app/src/main/res/drawable/icon_buscar.png
  app/src/main/res/drawable/icon_carrito.png
  app/src/main/res/drawable/icon_home.png
  app/src/main/res/drawable/icon_user.png
  app/src/main/res/drawable/lupa_icono.png
  app/src/main/res/drawable/persona_icono.png
  app/src/main/res/layout/activity_acerca.xml
  app/src/main/res/layout/activity_contacto.xml
  app/src/main/res/layout/activity_favorites.xml
  app/src/main/res/layout/activity_feed.xml
  app/src/main/res/layout/activity_modificar_perfil.xml
  app/src/main/res/layout/activity_modificar_receta.xml
  app/src/main/res/layout/activity_perfil.xml
  app/src/main/res/layout/activity_vista_detallada.xml
  app/src/main/res/layout/receta_feed_card.xml
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: enhancement, task, activityMaquetacion

#31 Menu funcional en todas las vistas
  app/src/main/java/com/example/proyectoavocado/FeedActivity.java
  app/src/main/java/com/example/proyectoavocado/PerfilActivity.java
  app/src/main/java/com/example/proyectoavocado/VistaDetalladaActivity.java
  app/src/main/java/com/example/proyectoavocado/WebRedirectActivity.java
  app/src/main/res/drawable/icon_menu.png
  app/src/main/res/drawable/urielr_perfil.jpg
  app/src/main/res/layout/activity_acerca.xml
  app/src/main/res/layout/activity_feed.xml
  app/src/main/res/layout/activity_inicio.xml
  app/src/main/res/layout/activity_perfil.xml
  app/src/main/res/layout/activity_vista_detallada.xml
  app/src/main/res/layout/activity_web_redirect.xml
Labels: enhancement, task, activityMaquetacion, activityLógica

#32 merge adaptacion endpoint ModificarPassword
  Backend/routes/usuario.js
Labels: backend-Android

#34 merge adaptacion endpoint crearReceta
  Backend/routes/receta.js
Labels: backend-Android

#33 merge adaptacion endpoint eliminarUsuario
  Backend/routes/usuario.js
Labels: backend-Android

#35 Actualizar perfil layout
  .idea/compiler.xml
  .idea/deploymentTargetSelector.xml
  .idea/gradle.xml
  .idea/misc.xml
  Backend/routes/login.js
  app/src/main/java/com/example/proyectoavocado/ModificarPerfilActivity.java
  app/src/main/java/com/example/proyectoavocado/PerfilActivity.java
  app/src/main/res/drawable/icons8_pencil_24.png
  app/src/main/res/layout/activity_modificar_perfil.xml
  app/src/main/res/values/strings.xml
Labels: activityMaquetacion, activityLógica
